<div style="padding: 20px 80px;">
  <h1>User: <%= h("#{@user.first_name} #{@user.last_name}")%></h1>   
  <div  class="column span-4 last">        
      <div class="tools">            
          <%= link_to 'Edit', edit_user_path(@user) %> &middot;
          <%= link_to 'Destroy', @user, :confirm => 'Are you sure?',:method => :delete %> &middot;  
          <br><br><br>
      </div>
    <h4>Pool Memberships</h4>
    <br>
    <table border="0" id="items">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Dollar Amount</th>
          <th>Lottery Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <% for group in @groups %>
        <tr>
        <td><%=h group.name %></td>
        <td><%=h group.description %></td>
        <td><%=h group.dollar_amount %></td>
        <td><%=h group.lottery_date %></td>
        <td>
          <%= link_to 'Show', group %>
          <%= link_to 'Edit', edit_group_path(group) %>
          <%= link_to 'Delete', group, :confirm => 'Are you sure?', :method => :delete %>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>


