%div{:style => "padding: 20px 80px;"}
  %h1 Lottery Tickets
  %h4 Last Winner:= @rss.summary
  - #Format of string is --->11 - 35 - 38 - 41 - 52 MegaBall 40 Megaplier 4
  - winnerStr = @rss.summary.to_s
  - winnerStr = winnerStr.gsub("Megaplier" , "-")
  - winnerStr = winnerStr.gsub("MegaBall" , "-")
  - winnerStr = winnerStr.gsub("\n" , "")
  - arr = winnerStr.split(' - ')

  .field
    %table#items{:border => "0"}
      %tr
        %th Num 1
        %th Num 2
        %th Num 3
        %th Num 4
        %th Num 5
        %th MegaPlier

      - for ticket in @lotterytickets
        %tr
          %td#num1= ticket.num1
          %td#num2= ticket.num2
          %td#num3= ticket.num3
          %td#num4= ticket.num4
          %td#num5= ticket.num5
          %td#megaplier= ticket.megaplier

