<div style="padding: 20px 80px;">
  <h1>Lottery Tickets</h1>
  <h3>Last Winner: <%= @rss.summary %> </h3>

  <%
  
    #11 - 35 - 38 - 41 - 52 MegaBall 40 Megaplier 4 
    winnerStr = @rss.summary.to_s
    winnerStr = winnerStr.gsub("Megaplier" , "-")
    winnerStr = winnerStr.gsub("MegaBall" , "-")
    winnerStr = winnerStr.gsub("\n" , "")
    arr = winnerStr.split(' - ')
  %>
     
  <div class="field">
    <table id="items" border="0">
      <tr>
        <th>Num 1
        <th>Num 2
        <th>Num 3
        <th>Num 4
        <th>Num 5
        <th>MegaPlier
      </tr>
      <% for ticket in @lotterytickets %>
      <tr>
        <td id="num1"><%= ticket.num1 %>
        <td id="num2"><%= ticket.num2 %>
        <td id="num3"><%= ticket.num3 %>
        <td id="num4"><%= ticket.num4 %>
        <td id="num5"><%= ticket.num5 %>
        <td id="megaplier"><%= ticket.megaplier %>
      </tr>
      <%  end %>
    </table>
  </div>
</div>

<script lang='javascript'>
$(document).ready(function() {
  <% 
  for ticket in @lotterytickets 
    if(ticket.num1.to_s == arr[0])
     %>  
         $('#num1').append('<img align="absmiddle" id="theImg" width="px" height="32px" src="../assets/smiley.png" />')
         $('#num1').effect( "highlight", {color:"pink"}, 3000 ); 
     <%
    end
    if(ticket.num2.to_s == arr[1])
     %>  
         $('#num2').append('<img align="absmiddle" id="theImg" width="px" height="32px" src="../assets/smiley.png" />')
         $('#num2').effect( "highlight", {color:"pink"}, 3000 ); 
     <%
    end
    if(ticket.num3.to_s == arr[2])
     %>  
         $('#num3').append('<img align="absmiddle" id="theImg" width="px" height="32px" src="../assets/smiley.png" />')
         $('#num3').effect( "highlight", {color:"pink"}, 3000 ); 
     <%
    end
    if(ticket.num4.to_s == arr[3])
     %>  
         $('#num4').append('<img align="absmiddle" id="theImg" width="px" height="32px" src="../assets/smiley.png" />')
         $('#num4').effect( "highlight", {color:"pink"}, 3000 ); <%
    end
    if(ticket.num5.to_s == arr[4])
     %>  
         $('#num5').append('<img align="absmiddle" id="theImg" width="px" height="32px" src="../assets/smiley.png" />')
         $('#num5').effect( "highlight", {color:"pink"}, 3000 ); <%
    end
    if(ticket.megaplier.to_s == arr[5])
     %>  $('#megaplier').effect( "highlight", {color:"pink"}, 3000 ); <%
    end
  end 
  %>
})
</script>

