<div style="padding: 40px 60px;">
  <table>
    <tr>
      <td>
        <h1>New Lottery Ticket</h1><br>
      </td>
      <td valign="top">
        <h1>Belongs To Pool</h1>
      </td>
    </tr>
    <tr>
      <td style="padding-right:20px">
        <%= form_for :Lotteryticket do |f| %>
          <% if @lotteryticket.errors.any? %>
            <div id="error_explanation">
              <h2><%= @lotteryticket.errors.count %> error(s) prohibited this ticket from being saved:</h2>

              <ul>
              <% @lotteryticket.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <table id="items" border="0">
              <tr>
                <th><%= f.label :'Num 1' %>
                <th><%= f.label :'Num 2' %>
                <th><%= f.label :'Num 3' %>
                <th><%= f.label :'Num 4' %>
                <th><%= f.label :'Num 5' %>
                <th><%= f.label :'MegaPlier' %>
              </tr>
              <% (1..3).each do |i| %>
              <tr>
                <td><%= f.text_field :num1, :class => 'field', :style => 'width:30px' %>
                <td><%= f.text_field :num2, :class => 'field', :style => 'width:30px' %>
                <td><%= f.text_field :num3, :class => 'field', :style => 'width:30px' %>
                <td><%= f.text_field :num4, :class => 'field', :style => 'width:30px' %>
                <td><%= f.text_field :num5, :class => 'field', :style => 'width:30px' %>
                <td><%= f.text_field :num6, :class => 'field', :style => 'width:30px' %>
              </tr>
              <%  end %>
            </table>
          </div>
          <br>
          <div class="actions" >
            <%= f.submit 'Save', :class => 'button' %>
          </div>
        <% end %>
      </td>
      <td valign="top">
        <table id="items" border="0">
        <thead>
          <tr>
            <th></th>
            <th class="ascending" data-sort="data-name">Group Name</th>
            <th data-sort="data-restaurant">Lottery Date</th>
            <th data-sort="data-calories">$Amount</th>
            <th data-sort="data-restaurant">Action</th>
          </tr>
        </thead>
        <tbody>
          <% 
          unless @groups.nil?   
          for group in @groups %>
          <tr class="sortable_row" data-restaurant="red-robin-gourmet-burgers" data-name="Crispy Chicken Tender Salad" data-calories="1450" data-fat="97" data-carbs="86">
              <td><%= check_box("puppy", "gooddog", {}, "yes", "no")   %>
              <td><%= link_to group.name, group %></td>
              <td><%= group.lottery_date.to_s() %></td>
              <td><%= group.dollar_amount %></td>
              <td>
                <%= link_to 'Show', group %>
                <%= link_to 'Edit', edit_group_path(group) %>
              </td>
          </tr>
          <% 
          end 
        end%>
        </tbody>
      </table>
     </td>
    </tr>
  </table>
</div>