<div style="padding: 40px 120px;">
  <table>
    <tr>
      <td>
        <h1>Active Lottery Pools</h1>
      </td>
    </tr>
    <tr>
      <td>
        <table id="items" border="0">
        <thead>
          <tr>
            <th class="ascending" data-sort="data-name">Group Name</th>
            <th data-sort="data-restaurant">Lottery Date</th>
            <th data-sort="data-calories">Members</th>
            <th data-sort="data-calories">$ Amount</th>
            <th data-sort="data-restaurant">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for group in @groups %>
          <tr class="sortable_row" data-restaurant="red-robin-gourmet-burgers" data-name="Crispy Chicken Tender Salad" data-calories="1450" data-fat="97" data-carbs="86">
              <td><%= link_to group.name, group %></td>
              <td><%= group.lottery_date %></td>
              <td><%= group.users.count %></td>
              <td><%= group.dollar_amount %></td>
              <td>
                <%= link_to 'Show', group %>
                <%= link_to 'Edit', edit_group_path(group) %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
     </td>
    </tr>
    <tr>
      <td colspan="2">
      </td>
    </tr>
  </table>
</div>